html {
    
    font-family: "Inter",sans-serif;
    
    }
body{
    position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
    background-image: url("background.jpg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.titre{
color: white;
background-color:rgb(30, 75, 142) ;
margin: 2px;
padding: 5px;
border-style: none;
border-radius: 5px;
text-align: center;

}


.classement {
    
    width: 350px;
    margin-bottom: 10px;
   
}


.nom{
    width: 100px;
}
.pts{
    width: 75px;
}

.joueur{
backdrop-filter: blur(5px);
margin: 2px;
padding: 5px;
border-style: solid;
border-radius: 5px;
border-width: 2px;
border-color: rgb(30, 75, 142);
font-weight: bold;
display: flex;
justify-content: space-between;
align-items: center;
}


.next{text-align: center;
    font-size: 0.85rem;

}

footer{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 0.75rem;
    backdrop-filter: blur(5px);
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgb(30, 75, 142);
    padding: 5px;
    max-height: 10px;
    display: flex;
    align-items: center;
}

.btn{
    
   
background-color:rgb(30, 75, 142) ;
margin: 15px;
padding: 5px;
border-style: solid;
border-radius: 5px;
border-width: 2px;
border-color: rgb(30, 75, 142);
font-weight: bold;
text-align: center;
}

a {
  text-decoration: none;
  color: white;
  text-align: center;

}
.addOn{

     backdrop-filter: blur(5px);
margin: 2px;
padding: 5px;
border-style: solid;
border-radius: 5px;
border-width: 2px;
border-color: rgb(30, 75, 142);
font-weight: bold;
text-align: center;
}




