

body{
    position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
    background-image: url("background.jpg");
}

.titre{
color: white;
background-color:rgb(30, 75, 142) ;
margin: 2px;
padding: 5px;
border-style: none;
border-radius: 5px;
text-align: center;

}


.classement {
    
    width: 400px;
    margin-bottom: 10px;
   
}


.nom{
    width: 100px;
}

.joueur{
backdrop-filter: blur(5px);
margin: 2px;
padding: 5px;
border-style: solid;
border-radius: 5px;
border-width: 2px;
border-color: rgb(30, 75, 142);

font-weight: bold;
display: flex;
    justify-content: space-between;
    align-items: center;
}






